<header>
    <div class="container">
        <a href="index.html" class="logo"><img src="assets/img/logo-3.png" alt="AwesomeBuilder"></a>
        <nav>
            <ul class="menu">
                <li class="menu-item"><a class="menu-link" href="index.html">genplan</a></li>
                <li class="menu-item"><a class="menu-link" href="build-item.html">build-item</a></li>
                <li class="menu-item"><a class="menu-link" href="floor-page.html">floor-item</a></li>
            </ul>
            <div class="btn-row">
                <button class="btn" data-triger-modal="loginSuccess">Login</button>
                <button class="btn" data-triger-modal="registrationSuccess">Registration</button>
            </div>
        </nav>
    </div>
</header>

